.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4vh;
}

.container input {
  width: 50vw;
  padding: 2vh 3vw;

  display: block;

  border: 1px solid transparent;
  background-color: rgb(192, 192, 192);
  border-radius: 1vw;

  font-size: 18px;
}

.container button {
  width: 50vw;
  padding: 5px 10px;

  display: block;
  border-radius: 1vw;

  font-size: 18px;
}

.container svg {
  flex-shrink: 0;
}
.container span {
  font-size: 18px;
}

@media (max-width: 576px) {
  .container input,
  .container button {
    width: 100%;
  }
}
